<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navbar"></nav>


<div class="container py-5">
    <div class="row mb-3">
        <div class="col d-flex flex-column justify-content-center text-center">
      <h1 class="mb-2 ">Not all who <span class="brand-lightBlue" style="font-family:Pacifico">Meander</span> are lost.</h1>
            <p class="fs-3">Meander helps you discover hidden gems around the corner and around the globe.</p>
            <a class="my-4 mb-2 fs-4 btn btn-success">Search By <span style="font-weight:600">Location </span>📍</a>
            <a class="mb-2 fs-4 btn btn-success">Search By <span style="font-weight:600">Interest </span>🎨</a>
            <p class="fs-5">Want to meet other Meanderers and contribute to our database? <br/>
                <a th:href="@{/login}">Log in</a> or <a th:href="@{/register}">sign up.</a></p>
        </div>

        <div class="col">
          <div th:style="'animation: .5s fadein ease; margin:auto; height: 500px; width: 500px; background: url(/assets/person-map.jpeg); background-position: center bottom;background-size: cover'">
          </div>
        </div>

    </div>
</div>


<footer th:replace="fragments :: footer"></footer>
</body>
</html>