<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navbar"></nav>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<div class="container">
    <div class="row">
        <div class="col col-6 m-auto bg-white p-4 border border-light shadow-sm rounded">
            <div class="row text-center">
            <h3 class="text-center">Log in to add a new post.</h3>
                <p class="fs-6 italic text-muted">Not signed up yet? <a th:href="@{/register}">Register for Meander.</a></p>
            </div>
<form class="form" th:action="@{/login}" method="post">
    <div class="row"><label class="form-label fs-5 fw-bolder"> Your Email: <input class = "form-control" type="email" name="email"/> </label></div>
    <div class="row"><label class="form-label fs-5 fw-bolder"> Your Password: <input class = "form-control" type="password" name="password"/> </label></div>
    <div><input class="w-100 btn btn-success" type="submit" value="Sign In"/></div>
</form>
        </div>

    </div>
</div>
</body>
</html>