<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List Users</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/meander.css}"/>

    <script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
</head>
<body>
<div class="container text-center">
    <div>
        <form method="post" th:action="@{/logout}">
            <p>
                Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
            </p>
            <input type="submit" value="Sign Out"/>
        </form>
    </div>

    <div>
        <h2 th:text="${post.title}"></h2>
        <p th:text="$post.text}"></p>
    </div>
</div>
</body>
</html>