<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navbar"></nav>
<div class="container">



    <div>
        <h1 class="text-center" th:text="${post.title}"></h1>
        <h1 class="text-center"><img th:src="@{'/resources/' + ${post.photo}}"   alt="image" style="width: 300px;"></h1>

        <h2 class="text-center fs-4">
            By:
            <span class="text-muted" th:text="${post.user.firstName}+' '+ ${post.user.lastName}|"></span>
        </h2>
        <div class="row bg-light rounded rounded-1 mb-4 mt-3 border border-1 p-3">
        <p th:text="${post.text}"></p>
        </div>

            <div th:if="${message != null}" class="alert alert-warning">
                <span th:text="${message}"></span>
                <span class="fs-italic">If you are the author of this post, <a th:href="@{/login}">click here</a> to log in.</span>
            </div>

        <a th:href="@{'/post/edit/' + ${post.id}}" class="btn btn-primary">Edit</a>
        <a th:href="@{'/post/delete?postId=' + ${post.id}}" class="btn btn-danger">Delete</a>

    </div>
</div>
</body>
</html>