<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navbar"></nav>
<div class="container text-center">
   <div>
      <form method="post" th:action="@{/logout}">
         <p>
            Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
         </p>
         <input type="submit" value="Sign Out"/>
      </form>
   </div>
   <div>
      <h1>User Profile</h1>
   </div>

   <div>
      <table class="table table-striped table-bordered">
         <thead class="thead-dark">
         <tr>
            <th>User ID</th>
            <th>E-mail</th>
            <th>First Name</th>
            <th>Last Name</th>
         </tr>
         </thead>
         <tbody>
         <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
         </tr>
         </tbody>
      </table>
   </div>
</div>
</body>
</html>